
.html, .body{

    margin:0;
    padding: 0;

}
h1, h2, h3 {
    font-family: 'Monoton';
    text-align: center;
    color: blue;
}
.nav-bar {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 20px;
    margin: 10px;
    background-color: lightcoral;
    color: green;

}


* {
    box-sizing: border-box;
  }
  
.body {
    font-family: Arial;
    padding: 20px;
    background: #F5C6D6;
  }
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: violet;
    color: blue
  }
  /* .pic1 {
    /* float: right; */

    /* position: relative;
    right: 300px; */
    /* top: 425px;
    width: 900px;
    border: 2px solid red */
  /* }
  .pic2{
      
    width:fit-content;
    border: 15px solid green;
    padding-right: 100px;
    margin: 20px;
    /* float: right; */

  /* } */ 
  .img{
    float: right;

  }
  
  .table, th, td, tr {
    border: 1px solid black;
    background-color: skyblue;
    height: 150px;
    width: 500px;
  
}
.list{
    text-align: center;
    font-style:'Monoton'; 
    color: orangered;
    font-size: 60px;
}