
html, body{
    margin: 10px;
    padding: 5px;
    background-color: lightgreen;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.nav-bar{
    position: fixed;
    text-align: center;
    width: 100%;
    height: 30px;
    /* margin: 10px; */
    background-color: darkgreen;
}
.header{
    color: purple;
    background: darkblue;
    height: 200px;
}
.table, th, td, tr {
    border: 1px solid darkgreen;
    background-color: lightcoral;
    height: 150px;
    width: 500px;
  
}
.container  {
    position: relative;
}
.topleft    {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}
.about_picture {
    position: relative;
    left: 0px;
    top: opx;
    z-index: -1;
    width: 100%;
    height: auto;
    opacity: 2.3;
}
.h1 {
    background-color:papayawhip;
    width: initial;
    height: initial;
    border: 15px solid darkblue;
    padding: 50px;
    margin: 20px;
    }
    #flex-container {
        border: 1px solod black;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-flow: wrap;
        align-items: center;
    }
    #flex-container > div:nth-child(1){
        border-width:5px;  
        border-style:double;
        border: solid red;
        border-radius: 25px;
        padding: 10px;
        box-shadow: 5px 10px;
        background-color: dodgerblue;
        height: 200px;
        width: 500px;
        transition-property: background-color;
        transition-duration: 5s;
        transition-timing-function:ease-in;
    }
    #flex-container > div:nth-child(1):hover{
    
        background-color: pink;
        height: 200px;
        width: 500px;
    }
    #flex-container > div:nth-child(2){
        border: 1px solid black;
        box-shadow: 5px 10px;
        background-color: firebrick;
        padding: 10px;
        border-radius: 25px;
        height: 200px;
        width: 200px;
        transition-property: background-color;
        transition-duration: 10s;
        transition-timing-function:ease-out;
    }
    #flex-container > div:nth-child(2):hover{
    
        background-color: dodgerblue;
        height: 200px;
        width: 200px;
    }
    #flex-container > div:nth-child(3){
        border: 1px solid black;
        box-shadow: 5px 10px;
        padding: 10px;
        background-color: violet;
        height: 300px;
        width: 300px;
        border-radius: 25px;
        transition-property: background-color;
        transition-duration: 10s;
        transition-timing-function:ease-out;
    }
    #flex-container > div:nth-child(3):hover{
    
        background-color: darkorange;
        height: 300px;
        width: 300px;
    }
    #flex-container > div:nth-child(4){
        border-radius: 25px;
        padding: 10px;
        border: 1px solid green;
        box-shadow: 5px 10px;
        background-color: dodgerblue;
        opacity: 0.9;
        height: 300px;
        width: 200px;
        transition-property: background-color;
        transition-duration: 5s;
        transition-timing-function:ease-in;
    }
    #flex-container > div:nth-child(4):hover{
    
        background-color:yellowgreen;
        height: 300px;
        width: 200px;
        
    }
    #flex-container > div:nth-child(5){
        border: 1px solid black;
        border-radius: 25px;
        background-color: cyan;
        padding: 10px;
        box-shadow: 5px 10px;
        height: 300px;
        width: 200px;
        transition-property: background-color;
        transition-duration: 3s;
        transition-timing-function:ease-out;
    }
    
    #flex-container > div:nth-child(5):hover{
    
        background-color: darkmagenta;
        height: 300px;
        width: 200px;
    }
    #flex-container > div:nth-child(6){
        border: 1px solid black;
        border-radius: 25px;
        background-color:rebeccapurple;
        box-shadow: 5px 10px;
        padding: 10px;
        height: 200px;
        width: 500px;
        transition-property: background-color;
        transition-duration: 2s;
        transition-timing-function:ease-in;
    }
    #flex-container > div:nth-child(6):hover{
    
        background-color: dodgerblue;
        height: 200px;
        width: 500px;
    }

    /* about farm css */
    .title{
        font-family:'Special Elite', cursive;
        font-size: 24px; 
        border-radius: 2%;
        border-width: 5px;
        border-style: ridge;
        border-color: blueviolet;       
        
    }
    .img{
        width: 90%;
    }
    /* order_form css */

    .table{
        
        font-family:'Special Elite', cursive;
        font-size: 24px; 
        border-radius: 5%;
        border-width: 5px;
        border-style: ridge;
        border-color: solid blueviolet; 
        margin: 10%;
        padding: 10%;      
        
    }
    .order{
        font-family:'Special Elite', cursive;
        font-size: 24px; 
        height: 100px;
        background-color: mediumslateblue;
        border-style: double;
        
    }