/* .errorMessage {
    color: red;
    border: 1px dashed maroon;
    padding: 15px;
    text-align: center;
     */
  /* }
  <div class="errorMessage">
  Oh no something went wrong!
</div>
<div id="main-content">
  <div class="main-title-section">
    This is the best!
  </div>
</div>
<div id="other-content">
  <div class="main-title-section">
    This is good too though.
  </div>
</div>
<div id="last-content">
  <div class="main-title-section">
    This is not styled...good.
  </div>
</div> */

